langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
pydantic 
requests 
watchdog
langchain
groq
langchain-groq



# pip install -r requirements.txt